body {
  background-color: #111111;
  color: #e1c33d;
  border: solid 50px #111111;
  margin: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font: 0.75em/1.5 Helvetica, Arial, sans-serif;
  margin-top: 0px;
  height: 100%;
}

.global-font {
  font-family: Helvetica, Arial, sans-serif !important;
  text-transform: uppercase !important;
}

.text-center {
  text-align: center;
}

/* NAVBAR */

.nav-container {
  padding: 80px 20px 150px 20px;
  background-color: #000000;
}

@media screen and (max-width: 799px) {
  .mob-padding-nav {
    padding: 50px 40px 235px 40px;
  }
}

.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.tabs__item {
  width: 100%;
  float: left;
}

@media screen and (min-width: 50em) {
  .tabs__item {
    display: table-cell;
    float: none;
    width: auto;
  }
}

.tabs__link {
  display: block;
  font-size: 20px;
}

.primary-nav {
  text-align: center;
  border-radius: 0;
  overflow: hidden;
}

.primary-nav a {
  padding: 0.75em 1em;
  color: #e1c33d;
  background: none;
  color: #e1c33d;
  text-decoration: none;

  font-family: Share, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  transition: linear 0.2s;
}

.primary-nav a:hover {
  color: #ab9532;

  transition: linear 0.2s;
}

/* Responsive-nav.js */

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }

  .js .nav-collapse.closed {
    max-height: none;
  }

  .nav-toggle {
    display: none;
  }
}

.nav-collapse {
  list-style: none;
  width: 100%;
  float: left;
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

/* NAVBAR END */

/* HERO */

.hero-container {
  padding-top: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512"><path fill="currentColor" d="M256.22 18.375c-132.32 0-239.783 107.43-239.783 239.75S123.9 497.905 256.22 497.905S496 390.446 496 258.126S388.54 18.375 256.22 18.375m0 17.875c102.773 0 189.092 69.664 214.374 164.406l-79.313-81.47l-6.967-7.155l-6.688 7.47l-77.22 86.438a1912.536 1912.536 0 0 0-34.467-30.063l-6.563-5.625l-6.125 6.156a3510.226 3510.226 0 0 0-55.438 57.094l-76.437-83.375l-6.875-7.5l-6.875 7.5l-71.188 77.313C51.364 119.34 143.983 36.25 256.22 36.25m102.25 147.28l-3.845 35.376l21.563-32l10.75 16.688l9.968-8.47l27.188 26.814L417 187.344l19.5 5.062l39.188 40.25l.843-.812a224.379 224.379 0 0 1 1.564 26.28c0 37.033-9.06 71.917-25.063 102.595c-46.25-53.48-92.512-100.116-138.75-142.283l11-12.312l33.19-22.594zm-220.16 22.75l26.438 18.782l20.22 22.032c-39.47 42.024-78.63 85.836-115.94 130.344c-21.98-34.443-34.718-75.38-34.718-119.313v-.78l16.25-17.658L87.81 219.5l-17.187 54.063l41.813-51.22l27.312 32.72l-1.438-48.782zm141.375 61.657l53.157 60.938l-7.688-54.563L386.312 315a1631.644 1631.644 0 0 1 56.75 62.78l.188-.186C403.853 439.216 334.868 480.03 256.22 480.03c-71.76 0-135.483-33.992-176.033-86.75c19.135-22.91 38.775-45.645 58.72-68.06l56.155-33.814l-29.312 76.75l61.53-73.375l6.25 32.19l19.532-36.783l47.844 69.5l-21.22-91.75z"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-top: #e1c33d solid 1px;
  border-bottom: #e1c33d solid 1px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e1c33d;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: #e1c33d;
  border: solid 1px #e1c33d;
  background-color: #000000;
  text-align: center;
  cursor: pointer;
  transition: 0.2s linear;
}

.hero-text button:hover {
  background-color: none;
  color: #ab9532;
  transition: 0.2s linear;
  border: solid 1px #ab9532;
}

h1 {
  font-size: 40px;
}

/* HERO END*/

/* FOOTER */

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 60px 0;
  /* min-height: 100vh;*/
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-area {
  border-bottom: 1px solid #e1c33d;
}

.contact-content p {
  font-size: 12px;
  margin: 30px 0 60px;
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
}

.contact-content p::after {
  background: #000000;
  bottom: -30px;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 80%;
}

.contact-content h6 {
  color: #ab9532;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}

.contact-content span {
  color: #ab9532;
  margin: 0 10px;
}

.contact-social {
  margin-top: 30px;
}

.contact-social > ul {
  display: inline-flex;
}

.contact-social ul li a {
  border: 1px solid #ab9532;
  color: #ab9532;
  display: inline-block;
  height: 40px;
  margin: 0 10px;
  padding-top: 7px;
  transition: all 0.4s ease 0s;
  width: 40px;
}

.contact-social ul li a:hover {
  border: 1px solid #fab702;
  color: #fab702;
}

.contact-content img {
  max-width: 210px;
}

section,
footer {
  background: #000000;
  color: #ab9532;
}

footer p {
  padding: 40px 0;
  text-align: center;
}

footer img {
  width: 44px;
}

/* FOOTER */
